/*     Root Variable     */
:root{
    --color-black: #191919;
    --color-gray: #888888;
    --color-white: #F5F5F5;
    --color-green: #21ab74;
    --color-red: #B80000;

    --app-font-light: "Vazirmatn Light";
    --app-font-regular: "Vazirmatn Regular";
    --app-font-bold: "Vazirmatn Bold";
    --app-font-heavy: "Vazirmatn Heavy";
}

/*     Reset Style     */
html{
  font-size: 62.5%; 
  box-sizing: border-box;
}
*, *::before,*::after{
  box-sizing: inherit;
}
body{
  background: url("/assets/images/img1.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--app-font-regular);
  font-size: 4.8rem;
  color: var(--color-black);
  line-height: 2.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  width: 100vw;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deposit {
  color: var(--color-green);
  font-weight: bold;
}
.withdraw {
  color: var(--color-red);
  font-weight: bold;
}
#searchInput, #searchBtn {
  display: none;
}

/*     Button & Input     */
.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
  width: 100%;
  max-width: 100%;
}
#loadBtn{
  width: 90%;
  max-width: 400px;
  padding: 3.2rem;
  border-radius: 3.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--app-font-heavy);
  font-size: 3.2rem;
  background-color: var(--color-gray);
  box-shadow: 0 0 20px rgba(69, 71, 75, 0.4);
  margin-left: 2rem;
}
#loadBtn:hover{
  opacity: 0.85;
  text-decoration: underline;
}
.search-wrapper {
  width: 90%;
  max-width: 800px;
  position: relative;
}
input {
  width: 100%;
  padding: 2.6rem 1.6rem; 
  border-radius: 3.2rem;
  font-size: 4rem;
  color:var(--color-black); 
  box-shadow: 0 0 20px rgba(69, 71, 75, 0.4);
  border: none;
  outline: none;
}
input::placeholder {
  font-family: var(--app-font-light); 
}
#searchBtn {
  position: absolute;
  left: 1rem;  
  top: 34%;
  align-self: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-black);
  font-size: 3.2rem;  
  margin-left: 3rem;
}

/*     Table     */
.tableBox {
  display: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 1400px;
  margin: auto;
  position: relative; 
  border-radius: 3.2rem;
  background-color: rgba(180, 180, 184, 0.95);
  box-shadow: 0 0 20px rgba(69, 71, 75, 0.4);
  overflow: auto; 
}
table {
  width: 90%;
  min-width: 600px;
  border-collapse: collapse;
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(69, 71, 75, 0.4);
  border-radius: 2.4rem;
  overflow: hidden;
}
th, td {
  text-align: center;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(221, 221, 221);
  white-space: nowrap;
}
th {
  font-family: var(--app-font-bold);
  background-color: var(--color-gray);
  cursor: pointer;
}

/*     Arrow Icon     */
.arrow {
  display: inline-block;
  color: var(--color-black);
  opacity: 0.4;
}
.arrow.active {
  opacity: 1;
  transition: 0.4s ease-in;

}

