/*     Root Variables     */
:root{
  --color-black: #191919;
  --color-gray: #888888;
  --color-white: #F5F5F5;
  --color-green: #21ab74;
  --color-red: #B80000;

  --app-font-light: "Vazirmatn Light";
  --app-font-regular: "Vazirmatn Regular";
  --app-font-bold: "Vazirmatn Bold";
  --app-font-heavy: "Vazirmatn Heavy";
}

/*     Reset & Base Styles     */
html{
  font-size: 62.5%; 
  box-sizing: border-box;
}
*, *::before,*::after{
  box-sizing: inherit;
}
body{
  background: url("/assets/images/img1.png") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--app-font-regular);
  font-size: 1.8rem;
  color: var(--color-black);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  width: 100vw;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deposit {
  color: var(--color-green);
  font-weight: bold;
}
.withdraw {
  color: var(--color-red);
  font-weight: bold;
}
#searchInput, #searchBtn {
  display: none;
}

/*     Button & Input     */
.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
  width: 100%;
}
#loadBtn{
  width: 90%;
  max-width: 400px;
  padding: 1.6rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--app-font-heavy);
  font-size: 2rem;
  background-color: var(--color-gray);
  box-shadow: 0 0 20px rgba(69, 71, 75, 0.4);
  margin-left: 1rem;
  transition: all 0.3s ease;
}
#loadBtn:hover{
  opacity: 0.85;
  text-decoration: underline;
  transform: translateY(-2px);
}
.search-wrapper {
  width: 90%;
  max-width: 800px;
  position: relative;
}
input {
  width: 100%;
  padding: 1.6rem; 
  border-radius: 3.2rem;
  font-size: 2rem;
  color:var(--color-black); 
  box-shadow: 0 0 20px rgba(69, 71, 75, 0.4);
  border: none;
  outline: none;
}
input::placeholder {
  font-family: var(--app-font-light);
  font-size: 1.8rem; 
}
#searchBtn {
  position: absolute;
  left: 1rem;  
  top: 50%;
  transform: translateY(-50%);
  align-self: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-black);
  font-size: 2.4rem;
  transition: all 0.3s ease;
}
#searchBtn:hover{
  scale: 1.06;
} 
#searchMessage{
  font-family: var(--app-font-bold);
  color: var(--color-red);
}
/*     Table     */
.tableBox {
  display: none;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70vh;
  margin: auto;
  position: relative; 
  border-radius: 3.2rem;
  background-color: rgba(238, 238, 238, 0.95);
  box-shadow: 0 0 20px rgba(69, 71, 75, 0.4); 
  overflow: hidden;
}
table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(69, 71, 75, 0.4);
  border-radius: 2.4rem;
  overflow: hidden;
}
th, td {
  text-align: center;
  padding: 1.2rem;
  border: none;
  border-bottom: 1px solid rgb(221, 221, 221);
  white-space: nowrap;
}
th {
  font-family: var(--app-font-bold);
  background-color: var(--color-gray);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(69, 71, 75, 0.4);
}

/*     Arrow Icon     */
.arrow {
  display: inline-block;
  color: var(--color-black);
  opacity: 0.4;
  transition: all 0.4s ease-in;
}
.arrow.active {
  opacity: 1;
}

@media (max-width: 768px) {
  #loadBtn, input {
    font-size: 1.6rem;
    padding: 1.2rem;
  }
  #searchBtn{
    font-size: 2rem;
  }
  .tableBox {
    width: 100%;
    height: 70vh;
    overflow-x: auto;
  }
  table{
    min-width:  768px;
  }
  th, td {
    font-size: 1.4rem;
    padding: 0.8rem;
  }
}
@media (max-width: 500px) {
  table {
    font-size: 1.2rem;
  }
    th, td {
    padding: 0.6rem;
  }
}